<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <% layout("/layouts/boilerplate.ejs") %>

            <div  class="container my-5">
                <h3 class="mb-4">Create a New Listing</h3>

                <form method="POST" action="/listings">

                    <!-- Title -->
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input id="title" type="text" class="form-control" name="listing[title]" placeholder="Add a catchy title"
                            required>
                    </div>

                    <!-- Description -->
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea id="description" class="form-control" name="listing[description]" rows="3"
                            placeholder="Enter description" required></textarea>
                    </div>
                    

                    <!-- Image URL -->
                    <div class="mb-3">
                        <label for="url" class="form-label">Image Link</label>
                        <input id="url" type="text" class="form-control" name="listing[image][url]"
                            placeholder="Enter image URL/link">
                    </div>

                    <!-- Price + Country -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="price" class="form-label">Price</label>
                            <input id="price" type="number" class="form-control" name="listing[price]" placeholder="1200">
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="country" class="form-label">Country</label>
                            <input id="country" type="text" class="form-control" name="listing[country]" placeholder="India">
                        </div>
                    </div>

                    <!-- Location -->
                    <div class="mb-4">
                        <label for="location" class="form-label">Location</label>
                        <input id="location" type="text" class="form-control" name="listing[location]"
                            placeholder="Jaipur, Rajasthan">
                    </div>

                    <!-- Button -->
                    <button class="btn btn-dark">Add</button>

                </form>
            </div>

    </body>